.todo h1{
  text-align: center;
}
.todo button{
  float: right;
    margin-right: 2rem;
    background-color: white;
    padding: 5px 7px;
    border: 1px solid #83e8e8;
    color: #3a8989;
    font-size: 13px;
    border-radius: 3px;
}
.todo .line{
  width: 97%;
    margin: auto;
    height: 2px;
    background-color: black;
    margin-top: 0rem;
}
.todo .nav{
  display: flex;
    justify-content: space-between;
    width: 93%;
    margin: auto;
}
.todo .data .task{
  display: flex;
  justify-content: space-between;
  width: 93%;
  margin: auto;
}
<<<<<<< HEAD
=======
.todo .data .task .detail{
  display: flex;
  justify-content: space-between;
  width: 57%;
}
>>>>>>> 6923bb24962ed351cdacf805b7c40ef928def5b8
.todo .data .task button.edit{
  border: 1px solid;
  padding: 0px 5px;
    font-size: 1.5rem;
<<<<<<< HEAD
    margin: 0.2rem 0;
=======
    margin-right: 3rem;
    margin-top: 7px;
>>>>>>> 6923bb24962ed351cdacf805b7c40ef928def5b8
}
.todo .data .task button.delete{
  border: 1px solid red;
  padding: 0px 5px;
    font-size: 1.5rem;
<<<<<<< HEAD
    margin: 0.2rem 0;
=======
    margin: 7px 15px 0px 25px;
>>>>>>> 6923bb24962ed351cdacf805b7c40ef928def5b8
}
.add{
  text-align: center;
}
.edit{
  text-align: center;
}
<<<<<<< HEAD
.todo .data .task .name{
  width: 20%;
  text-align: center;
}
.todo .data .task .status{
  width: 30%;
  text-align: center;
}
.todo .nav h5.ta{
  position: absolute;
  left: 20%;
}
.todo .nav h5.st{
  position: absolute;
  left: 54%;
}
.todo .nav h5.ed{
  position: absolute;
  left: 80.7%;
=======
@media screen and (max-width: 400px){
  .todo .data .task .detail{
    display: block;
  }
>>>>>>> 6923bb24962ed351cdacf805b7c40ef928def5b8
}